.third-page {
  display: flex;
  flex-direction: column;

  p {
    margin-bottom: 50px;
  }
  .buttons {
    margin-top: 100px;
  }
  .social {
    height: 36px;
    width: 415px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    input[type='text'] {
      box-sizing: border-box;
      font-size: 15px;
      padding: 10px;
      &::placeholder {
        color: #bbbbbb;
      }
      border-radius: 2px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      outline: none;
      border: none;
      height: 35px;
      width: 250px;
      &.error {
        border: 1px solid red;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .third-page {
    p {
      margin-bottom: 20px;
    }
    .social {
      align-items: flex-start;
      flex-direction: column;
      height: 72px;
      width: 300px;
    }
    .buttons {
      margin-top: 20px;
    }
  }
}
