.first-page {
  display: flex;
  flex-direction: column;
  p {
    margin-bottom: 40px;
  }
  .buttons {
    margin-top: 150px;
  }
  input {
    box-sizing: border-box;
    font-size: 15px;
    &::placeholder {
      color: #bbbbbb;
    }
    margin-bottom: 16px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    outline: none;
    border: none;
    height: 50px;
    padding: 15px;
    width: 310px;
  }
  .email {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: space-between;
    input {
      margin-bottom: 0;
    }
    .error {
      color: #ff0000;
    }
  }
  .name {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: space-between;
    .error {
      color: #ff0000;
      transform: translate(0, -12.5px);
    }
  }
}

@media screen and (max-width: 400px) {
  .first-page {
    .email,
    .name {
      width: 350px;
      align-items: flex-start;
      flex-direction: column;
    }
  }
}
