.first-page {
  display: flex;
  flex-direction: column;
  p {
    margin-bottom: 40px;
  }

  input {
    box-sizing: border-box;
    font-size: 15px;
    &::placeholder {
      color: #bbbbbb;
    }
    margin-bottom: 16px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    outline: none;
    border: none;
    height: 50px;
    padding: 15px;
    width: 310px;
  }
  .email {
    input {
      margin-bottom: 0;
    }
    position: relative;
    .error {
      color: #ff0000;
      position: absolute;
      top: 50%;
      right: -210px;
      transform: translate(0, -50%);
      width: 200px;
    }
  }
}
